/* ******************************** GENERAL ******************************* */

body {
  background: #1d2029;
  font-family: helvetica, arial, 'sans-serif';
  color: white;
}
  
h1 {
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-family: Montserrat;
}
h2 {
    text-align: center;
}

a { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1 {
  text-decoration: none;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 2.5rem;
  text-align: right;
}

/* ******************************** NAVBAR ******************************* */

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

.resources {
  font-size: 30px;
}
.companyName {
  font-size: 32px;
}
h1:hover {
  filter: grayscale(15%);
}

li {
  list-style: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color:#4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease
}
.menu li {
  padding: 5px 14px;
}

.btn.active {
  background-color: #002cbd;
}

/* ******************************** HOME PAGE ******************************* */

.introduction p{
  padding: 0px 31px;
}

#about {
  text-align: center;
  font-size: 1.75vw ;
}

.purpose, .projectValue, .usage, .backStory {
  font-size: 30px;
  max-width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  padding: 0 8px;
}

.purpose #purpose, #backStory, .projectValue #projectValue, .usage #usage{
  font-size: 60px;
  text-align: left;
}

#Mabel {
  width: 50%;
  min-width: 200px;
  max-width: 570px;
}

.backStory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.backStory ul {
  margin-top: 0;
  font-size: 30px;
}

.backStory ul li:before {
  content: "-";
  position: absolute;
  margin-left: -20px;
}

/* ******************************** CONTACT PAGE ******************************* */

.card img {
  width: 100%;
  max-width:600px;
}

.member {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  max-width:600px;
}

@media screen and (max-width: 650px) {
  .member {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .members::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* ******************************** FUNCTION PAGE ******************************* */

.functionality {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.functionality img {
  width: 90%;
}

/* @media screen and (max-width: 900px) {
  .functionality img {
    width: 1200px
  }
} */


.steps {
  /* list-style: inside; */
  list-style-type: square;
  font-size: 2vw; 
}

@media screen and (min-width: 1600px) {
  .steps {
     font-size: 30px;
  }
}

/* ******************************** DOCUMENTATION PAGE ******************************* */

.documentation {
  position: relative;
  text-align: center;
  color: white;
}

.documentation img {
  width: 100%;
  max-width: 800px;
}

.image_titles {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
